
## <summary>policy for maria</summary>


########################################
## <summary>
##	Transition to maria.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`maria_domtrans',`
	gen_require(`
		type maria_t, maria_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, maria_exec_t, maria_t)
')


########################################
## <summary>
##	Execute maria server in the maria domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`maria_initrc_domtrans',`
	gen_require(`
		type maria_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, maria_initrc_exec_t)
')


########################################
## <summary>
##	Search maria lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`maria_search_lib',`
	gen_require(`
		type maria_var_lib_t;
	')

	allow $1 maria_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read maria lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`maria_read_lib_files',`
	gen_require(`
		type maria_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, maria_var_lib_t, maria_var_lib_t)
')

########################################
## <summary>
##	Manage maria lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`maria_manage_lib_files',`
	gen_require(`
		type maria_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, maria_var_lib_t, maria_var_lib_t)
')

########################################
## <summary>
##	Manage maria lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`maria_manage_lib_dirs',`
	gen_require(`
		type maria_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, maria_var_lib_t, maria_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a maria environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`maria_admin',`
	gen_require(`
		type maria_t;
		type maria_initrc_exec_t;
		type maria_var_lib_t;
	')

	allow $1 maria_t:process { ptrace signal_perms };
	ps_process_pattern($1, maria_t)

	maria_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 maria_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, maria_var_lib_t)

')

